/* rewizja: 2 */

.primary, #logo {
  float: left;
}
.secondary, #contact {
  float: right;
}
.clear {
  clear: both;
}

#page {
  /* klasyka - stała szerokość 960px i ustawiamy na środku */
  width: 960px;
  margin: 0 auto;
}
