/* rewizja: 5 */

/* tymczasowo ustawiamy kolory, żeby było widać logo i tekst */
body {
  background: #1977cd;
  color: #fff;
}

.primary, #logo, .tile {
  float: left;
}
.secondary, #contact {
  float: right;
}
.clear {
  clear: both;
}

.hidden {
  display: none;
}

#page {
  /* klasyka - stała szerokość 960px i ustawiamy na środku */
  width: 960px;
  margin: 0 auto;
}

/***** Nawigacja *****/
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 5px 1em;
}

/* ostatni element nawigacji ma być przytulony do prawej */
nav ul li:last-child {
  float: right;
}

/***** Zawartość *****/
/* szerokości ustawiamy na sztywno */
.primary {
  width: 720px;
}

.secondary {
  width: 240px;
}

/***** Kafelki *****/
.tile {
  width: 240px;
}
